body{
  background-color: red;
  font-family: arial, helvetica, sans-serif;
}
h1{
  color: grey;
  text-align: center;
}

assign{
  display: flex;
  padding: 10px;
  margin: 10px;
  background: green;
}

assign img {
  width: 200px;
  padding: 10px;
}
