body{
  background-color: red;
  font-family: arial, helvetica, sans-serif;
}
h1{
  color: grey;
  text-align: center;
}

.assign{
  display: flex;
  padding: 10px;
  margin: 10px;
  background: orange;
}

.assign img {
  width: 400px;
  padding: 10px;
}
a{
  text-decoration: none;
  color: midnight-blue
}

.assign img{
  padding: 10px;
  border: 2px solid midnightblue;
}
